@use "../../scss/mixins.scss" as mixin;
@use "../../scss/colors/neutral.scss" as neutral;

.itemdetail-container {
  min-height: 100vh;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;

  background-color: neutral.$c0;

  .itemdetail-c-name {
    padding: 2rem 0;

    @include mixin.flex-center;
    gap: 0.5rem;

    h1 {
      text-transform: capitalize;
    }

    div {
      font-size: 1.7rem;
      color: neutral.$c5;
    }
  }

  .itemdetail-c-img {
    width: 100%;
    max-width: 60rem;
    margin: 2rem auto;
    border-radius: 5px;

    @include mixin.flex-center;

    background-color: neutral.$c2;

    img {
      width: 100%;
      max-width: 30rem;
      padding: 1rem 2rem;
    }
  }

  .itemdetail-c-info {
    width: 100%;
    max-width: 60rem;
    padding: 1.5rem 1rem;
    margin: 0 auto;
    border-radius: 5px;

    display: flex;
    gap: 2rem;

    background-color: #30A7D7;
    color: neutral.$c0;

    .itemdetail-c-i-col {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .itemdetail-c-i-c-row {
        display: flex;
  
        .itemdetail-c-i-c-cell {
          min-width: 6rem;
  
          display: flex;
          gap: 0.5rem;

          text-transform: capitalize;
        }

        .strong {
          font-weight: bold;
        }

        .poketypes {
          div {
            min-width: 2rem;
            padding: 0.3rem 1rem;
            border-radius: 5px;

            @include mixin.flex-center;

            font-size: 0.7rem;
            text-transform: uppercase;
            color: neutral.$c0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .itemdetail-container {
    .itemdetail-c-info {
      .itemdetail-c-i-col {
        .itemdetail-c-i-c-row {
          .itemdetail-c-i-c-cell {
            flex-direction: column;
          }
        }
      }
    }
  }
}