@use "../../scss/colors/neutral.scss" as neutral;

.evolutionchain-container {
  margin: 2rem 0;
  padding: 3rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  background-color: neutral.$c1;
  text-align: center;

  h2 {
    margin: 0 0 1rem;
  }

  .evolutionchain-c-pokemon {
    .evolutionchain-c-p-name {
      text-transform: capitalize;
    }
  }
}