@use "../../scss/mixins.scss" as mixin;

.item-container {
  padding: 1rem;

  @include mixin.flex-center;
  justify-content: initial;
  gap: 1rem;

  cursor: pointer;

  .item-c-img {
    @include mixin.flex-center;
  }

  .item-c-name {
    text-transform: capitalize;
  }

  .item-c-types {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 0.5rem;

    text-transform: uppercase;
    font-size: 0.7rem;
    color: white;

    span {
      min-width: 3rem;
      padding: 0.3rem;
      border-radius: 5px;

      @include mixin.flex-center;
    }
  }
}