@use "../../scss/colors/neutral.scss" as neutral;

.footer-bcontainer {
  padding: 3rem 1rem;

  background-color: neutral.$c7;
  color: neutral.$c0;

  .footer-container {
    max-width: 60rem;

    .foooter-c-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      font-size: .8rem;

      a {
        color: inherit;
      }
    }
  }
}