@use "./colors/neutral.scss" as neutral;
@use "./variables.scss" as variable;

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin border($property: border, $color: neutral.$c3) {
  #{$property}: variable.$standard-border $color;
}