.itemlist-bcontainer {
  padding: 1rem;

  .ibcontainer-items {
    a:nth-of-type(odd) {
      .item-container {
        background-color: #ECECEC;
      }
    }

    a {
      text-decoration: none;
      color: inherit;

      .item-container {
        transition: background-color 0.5s;
  
        &:hover {
          background-color: #d0d0d0;
        }
      }
    }
  }
}